* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  font: 18px Helvetica, sans-serif;
}

.app {
  max-width: 560px;
  margin: 15px;

  div.numbers-output {
    margin: 10px;
  }
}
